{% extends 'admin.jinja' %}
{% import 'bootstrap/wtf.html' as wtf %}
{% import "bootstrap/utils.html" as utils %}

{% macro render_order_link(name, title) %}
    {% if '-'+name == request.args.o %}
        {% set param=name %}
    {% else %}
        {% set param='-'+name %}
    {% endif %}

    <a href="?o={{ param }}">{{ title }}</a>
{% endmacro %}


{% block content %}
    <div class="col-md-12">
        <h4>Добавить приглашение</h4>
        <div class="col-md-2">
            <div class="row">
                {{ wtf.quick_form(form) }}
            </div>
        </div>
    </div>

    <div class="col-md-12" style="margin-top:10px;">
        <hr>
        <h4>Приглашения</h4>
        <div class="row">
            <table class="table table-bordered table-striped">
                <thead>
                    <tr>
                        <th>Key</th>
                        <th>
                            {{ render_order_link('created', 'Дата создания') }}
                        </th>
                        <th>Для кого</th>
                        <th>Лимит</th>
                        <th>
                            {{ render_order_link('emails_count', 'Подписок') }}
                        </th>
                        <th>
                            {{ render_order_link('views', 'Просмотров') }}
                        </th>
                    </tr>
                </thead>
                <tbody>
                    {% for inv in invites %}
                        <tr>
                            <td>{{ inv.uuid }}</td>
                            <td>{{ inv.created }}</td>
                            <td>{{ inv.text }}</td>
                            <td>{{ inv.limit }}</td>
                            <td>{{ inv.emails_count }}</td>
                            <td>{{ inv.views }}</td>
                        </tr>
                    {% else %}
                        <tr>
                            <td colspan="5">Нед подписок</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>

    <div class="col-md-12" style="margin-top:10px;">
        <hr>
        <h4>Легкая статистика по подписчикам</h4>

        {{ utils.form_button(url_for('invites.admin_subs_grab'), 'Файл', method='get', class='btn btn-primary') }}

        <br>
        <br>

        <div class="row">
            <table class="table table-bordered table-striped">
                <thead>
                    <tr>
                        <th>Домен почты</th>
                        <th>Подписчиков</th>
                    </tr>
                </thead>
                <tbody>
                    {% for k, v in subs_stats.items() %}
                        <tr>
                            <td>{{ k }}</td>
                            <td>{{ v }}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}
