{% extends 'base.jinja' %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block navbar__extra_text %}Приглашение для &laquo;{{ invite.text }}&raquo;{% endblock %}

{% block content %}
    {% if subscribed  %}
        Спасибо, что подписались на нас!
    {% else %}
        {{ wtf.quick_form(form, form_type='horizontal', horizontal_columns=('lg', 2, 2)) }}
    {% endif %}
{% endblock %}
