{% extends 'base.jinja' %}

{% block navbar__extra_text %}
    <a href="{{ url_for('main.admin_page') }}">Админка</a>
{% endblock %}


{% block navbar__items %}
    <li class="{% if url_for('invites.admin_page') in request.path %}active{% endif %}">
        <a href="{{ url_for('invites.admin_page') }}">Инвайты</a>
    </li>
{% endblock %}
