{% extends "bootstrap/base.html" %}
{% import "bootstrap/utils.html" as utils %}

{% block title %}
    Top Secret App
{% endblock %}

{% block navbar %}
{# Не судите строго, просто сильно лень было :) #}
<style type="text/css">
    .navbar-header {
        width: 50%;
    }

    .navbar-header__extra-text {
        height: 50px;
        padding: 15px;
        color: #6F6F6F;
    }
</style>

<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="/">Top Secret App</a>
      <div class="navbar-header__extra-text">{% block navbar__extra_text %}{% endblock %}</div>
    </div>
    <ul class="nav navbar-nav">
        {% block navbar__items %}{% endblock %}
    </ul>
  </div>
</nav>

{{ utils.flashed_messages(container=True, default_category='info') }}
{% endblock %}
